* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: hsl(240, 78%, 98%);
  font-family: "Rubik";
  line-height: 1;
  font-weight: 400;
  color: #1f2142;

  overflow-x: hidden;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.searchField {
  width: 50%;
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
table {
  width: 100%;
  font-size: 1.8rem;
  border-collapse: collapse;
}
thead tr {
  background-color: #1f2142;
  color: #fff;
  width: 25%;
  font-size: 2rem;
}
tbody tr:nth-child(odd) {
  background-color: hsl(240, 32%, 85%);
}
td,
th {
  padding: 1rem 2rem;
  text-align: left;
}
